<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
">

<tx:annotation-driven/>

<context:component-scan base-package="springcrudproject"></context:component-scan>

<!-- <mvc:resources location= "/WEB-INF/resources/" mapping="/resources/**"></mvc:resources> -->

<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver" name="viewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- DATA SOURCE -->

	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		name="ds">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/productcrud" />
		<property name="username" value="root"></property>
		<property name="password" value="95503zahidulhasan"></property>
	</bean>
	
	
    <!--Local Session Factory Bean -->
	<bean
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		name="SessionFactory">
		<!-- data Source -->
		<property name="dataSource" ref="ds"></property>

		<!-- hibernate Properties -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>

		<!-- annotated Class -->
		<property name="annotatedClasses">
			<list>
					<value>springcrudproject.model.Product</value>
			</list>
		</property>

	</bean>
    
    <!-- Hibernate Template Bean -->
    
    <bean class="org.springframework.orm.hibernate5.HibernateTemplate"
		name="HibernateTemplate">
		<property name="sessionFactory" ref="SessionFactory"></property>
		
	</bean>
	
	<bean
		class="org.springframework.orm.hibernate5.HibernateTransactionManager"
		name="transactionManager">
		<property name="sessionFactory" ref="SessionFactory"></property>
	</bean>
	
	


</beans>